@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,100,100italic,300);
//fonts
$normal: 'Roboto', 'Helvetica', Arial, sans-serif;

//colors 
$green : #59CB59;
$red : #C24977;
$shade: #e8e8e8;

@mixin font($type : $normal, $size : 1.3em, $weight : 400, $color : #000) {
	color: $color;
	font-family: $type;
	font-size: $size; 
	font-weight: $weight;
}
@mixin transition() {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

html {
	body {
		@include font();
		background-color: #fafafa;
		height: 100vh;
		
		.clearfix:after {
			content: "";
			display: table;
			clear: both;
		}
		.btn:hover, .btn:active, .btn:focus {
			outline: none;
		}
		
		header {
			background-color: #fff;
			border-bottom: 1px solid $shade;
			width: 100%;
			min-height: 57px;
			
			nav {
				padding: 12px;
				height: 100%;
				.menu-icon {
					@include transition();
					color: #555555;
					width:  25px;
					height: 25px;
					cursor: pointer;
					cursor: hand;
					
					span {
						@include transition();
						position: relative;
						display: block;
						width: 25px;
						height: 3px;
						background-color: #555555;
						margin-top: 5px;
						
					}
				}
				
				.menu-icon.active span {
					width: 15px;
				}
				
				.menu-icon.active span:first-child {
					transform: rotate(-45deg);
					top: 3.5px;
				}
				
				.menu-icon.active span:nth-child(2) {
					width: 25px;
					left: 3.5px;
				}
				
				.menu-icon.active span:last-child {
					transform: rotate(45deg);
					top: -3.5px;
				}
			}
		}
		
		.user-module {
			@include transition();
			margin-top: 10px;
			margin-left: 10px;
			width: 240px;
			height: 100vh;
			position: fixed;
			
			#user-form {
				#display-name {
					position: relative;
					top: 2px;
					max-width: 175px;
					display: inline-block;
				}
				
				.btn {
					margin-left: 2px;
				}
			}
			
			.user-list {
				h2 {
					@include font($normal, 1em, 400, #555555);
					text-transform: uppercase;
					letter-spacing: 1px;
					margin-left: 10px;
				}
				ul {
					li {
						padding: 10px;
						border-bottom: 1px solid $shade;
					}
				}
			}
		}
		.user-module.active {
			transform: translateX(-100%);
		}
		
		.wrapper {
			display: none;
			height: 90vh;
			width: 100%;
			max-width: 920px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 10px;
			
			.message-wrapper {
				overflow: auto;
				height: 80vh;
				border: 1px solid $shade;
				border-bottom: none;
				#messages {
					padding: 20px;
					
					div {
						width: 100%;
						li {
							background-color: $green; 
							color: #fff;
							display: block;
							width: 45%;
							padding: 10px 10px;
							margin: 10px 0;
							border-radius: 15px;
							
							span {
								font-weight: 900;
							}
						}
						
						li.user-status {
							font-weight: 700;
							border-radius: 2px;
							float: none;
							width: 100%;
						}
						
						li.user-status.connect {
							color: #fff;
							background-color: $green;
						}
						
						li.user-status.disconnect {
							color: #fff;
							background-color: $red;
						}
					}
					
					div:nth-of-type(odd) {
						li {
							float: right;
							background-color: #f2f2f2;
							color: #000;
						}
					}
				}
			}
			
			.enter-message {
				width: 100%;
				position: fixed;
				bottom: 0;
				border: 1px solid #e8e8e8;
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 50%,rgba(255,255,255,1) 100%);
				padding-top: 20px;
				padding-bottom: 20px;
				padding-left: 10px;
				#messagebox {
					width: 90%;
					margin-right: 2px;
					float: left;
				}
				
				#send {
					width: 9%;
					display: inline-block;
				}
			}
		}
	}
}

@media screen and (max-width: 640px) {
	html {
		body {
			.wrapper {
				.enter-message {
					#messagebox {
						width: 80%;
					}
					#send  {
						width: 19%;
					}
				}
			}
		}
	}
}
